.flow-block {
    background-color: #292929;
    outline: 2px solid #5e5e5e;

    display: flex;
    flex-direction: column;
}

.flow-inline {
    display: flex;
    flex-direction: row;
}

.flow-indent {
    background-color: #292929;
    margin-left: 20px;
}

.flow-trailing-total {
    display: flex;
    flex-direction: row;
}

.flow-trailing-content {
    display: flex;
    flex-direction: column;
}

.flow-line__text {
    font-size: 14px;
    line-height: 1.5;
    color: #ffffff;

    padding: 5px;
    /* margin-bottom: 5px;
    margin-top: 5px; */
    margin: 5px;

    user-select: none;

    font-family: Consolas, 'Courier New', monospace;
}

.tok-group_highlighted {
    outline-color: #666a6e;
    background-color: #4b4b4b;
    z-index: 17;
}

.tok-adj_highlighted {
    outline-color: #a5bbc9;
    background-color: #525252;
    z-index: 18;
}

.tok-deep_highlighted {
    outline-color: #cbe5e7;
    background-color: #5a5a5a;
    z-index: 19;
}

.tok-selected {
    outline-color: #b2f8ce;
    background-color: #5a5a5a;
    z-index: 20;
}

.tok-input {
    resize: auto;
    min-width: 0;
}