.flow-block {
    background-color: #f5f5f5;
    border: 1px solid #e5e5e5;
    border-radius: 3px;

    display: flex;
    flex-direction: column;
}

.flow-inline {
    display: flex;
    flex-direction: row;
}

.flow-indent {
    margin-left: 20px;
}

.flow-trailing-total {
    display: flex;
    flex-direction: row;
}

.flow-trailing-content {
    display: flex;
    flex-direction: column;
}

.flow-line__text {
    font-size: 14px;
    line-height: 1.5;
    color: #333;

    padding: 5px;
    /* margin-bottom: 5px;
    margin-top: 5px; */
    margin: 5px;
}

.tok-group_highlighted {
    background-color: #d7e0ec;
}

.tok-adj_highlighted {
    background-color: #a5bbc9;
}

.tok-deep_highlighted {
    background-color: #94b7ba;
}

.tok-selected {
    background-color: #b2f8ce;
}